{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="page-wrapper" style="min-height: 250px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="application-detail-heading-area ">
                    <h2 class="noti_detail">Tailor Detail</h2>
                </div>
                <div class="table-data-search-box">
                    <div class="search">
                        <a href="{% url 'add_services' tailor.id %}" class="searchTerm">Add Services</a>
                    </div>
                </div>
                <div class="admin-detail-main-area">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="admin-detail-list-area">
                                <div class="admin-name-img-area">
                                    <div class="admin-name-area">
                                        <h4>{{tailor.user_id.phone}}</h4>
                                    </div>
                                </div>
                                <div class="admin-contact-detail-area">
                                    <h4>Name: <span>{{tailor.user_id.first_name|default:''}}
                                            {{tailor.user_id.last_name|default:''}}</span></h4>
                                    <h4>Location: <span>{{tailor.user_id.location|default:''}}</span></h4>
                                    <h4>Date: <span>{{tailor.user_id.created_at}}</span></h4>
                                    <h4>Category: <span>{{tailor.category_id.name}}</span></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active show" id="home">
                        <div class="app-user-main-heading-area">
                            <h2 class="noti_detail">Services</h2>
                        </div>
                        <div class="admin-appuser-table-area">
                            <table class="table example1">
                                <thead>
                                    <tr>
                                        <th>Sr No</th>
                                        <th>Name</th>
                                        <th>Type</th>
                                        <th>price</th>
                                        <th>gender</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if services %}
                                    {% for service in services %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{service.service_id.name}}</td>
                                        <td>{{service.service_id.type}}</td>
                                        <td>{{service.service_id.price}}</td>
                                        <td>{{service.service_id.gender}}</td>
                                        <td>
                                            <a data-bs-toggle="modal" data-bs-target="#TailorDel{{service.id}}"
                                                class="mange-admins-dlt-btn"><i class="far fa-trash-alt"></i></a>
                                        </td>
                                    </tr>
                                    <div class="modal fade" id="TailorDel{{service.id}}" tabindex="-1"
                                        aria-labelledby="TailorLabelDel{{service.id}}" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content innerDiv-model-dialog">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="TailorLabelDel{{service.id}}">Delete
                                                    </h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <hr class="p-0 m-0">
                                                <div class="modal-body my-4">
                                                    Are You Sure, Really Want To Delete ?
                                                </div>
                                                <hr class="p-0 m-0">
                                                <div class="modal-footer">
                                                    <button type="button" class="download-invoice-btn"
                                                        data-bs-dismiss="modal">Close</button>
                                                    <a href="{% url 'Delete_Service' service.id %}"><button type="button"
                                                            class="download-invoice-btn">Delete</button></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}